* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --Yellow: #FFFF00;
    --Blue: #0000FF;
    --Red: #FF0000;
}

body {
    padding: 30px;
}

.main {
    width: 1100px;
    height: 600px;
    border: 1px solid #000;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: space-between;
    justify-content: space-evenly; */
    /* align-items: center;
    align-items: stretch;
    align-items: baseline;
    align-items: flex-start; */
    /* gap: 20px; */
    
}

.main__caja:nth-child(1) {
    background-color: var(--Yellow);
    flex-basis: 650px;
    /* flex-grow: 1; */
}

.main__caja:nth-child(2) {
    background-color: var(--Blue);
}

.main__caja:nth-child(3) {
    background-color: var(--Red);
    order: -1;
}

.main__caja {
    width: 250px;
    height: 200px;
    border: 1px solid #000;
}
/* 
@media (max-width: 800px) {
    .main__caja:nth-child(1) {
        order: -1;


    }

    .main__caja:nth-child(2) {

    }

    .main__caja:nth-child(3) {

    }

} */